/*Text Styles*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

body {
  margin: 0;
}

h2 {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 2em;
}

/*Navigation*/
.navigation {
  background: #83AAD7;
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: Inter, sans-serif;
  position: sticky;
  width: 100%;
  z-index: 999;
  margin: 0;
  padding: 0;
}

.navigation img {
  padding: 10px;
}

.navigation h1 {
  font-weight: 900;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span {
  color: white;
  font-size: 1.5em;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transition: transform 400ms ease-in-out;
  transform-origin: top;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
}

nav a:hover {
  color: #E9EB8C;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


/*Hero*/
.hero img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.hero {
  text-align: center;
  font-family: Inter, sans-serif;
  background: url(images/Hero_image.png);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  background-color: #E9EB8C;
  opacity: 80%;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}

.hero h2 {
  font-size: 2.6em;
  font: weight 900px;
  padding-top: 25px;
  padding-bottom: 0px;
  margin: 0;
}

.hero p {
  font-weight: 700;
  font-size: 1.6em;
  padding-top: 0px;
  padding-bottom: 25px;
  margin: 0;
}

/*Mission Statement*/
.mission-statement h2 {
 text-align: center;
 font-family: Inter, sans-serif;
 font-size: 2em;
}

.mission-statement p {
  margin-left: 280px;
  margin-right: 280px;
  font-size: 1.1em;
  line-height: 25px;
}

/*Campaign Goals*/
.goals-group {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 1.2em;
  justify-content: center;
}

.goals-group-1 > div img {
  display: block;
}

.goals h3 {
  font-family: Inter, sans-serif;
  font-size: 1.4em;
  text-align: center;
}

.goals p {
  font-family: Lustria, serif;
}

.goals-cards-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Articles*/
.articles h2 {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 2em;
}

.article-cards h3 {
  font-family: Inter, sans-serif;
  font-size: 1.4em;
}

.article-cards p {
  font-family: Lustria, serif;
  width: 100%;
}

.articles img {
  align-items: center;
}

/* .articles button {
  text-decoration: none;
  border: none;
  background:#162145;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 1.2em;
  padding: 10px;
  margin: 5px;
  text-align: center;
} */

.articles button:hover {
 color: #E9EB8C;
}

/* .article-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 10px;
} */

.articles-cards-group-1 {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-left: 80px;
  margin-right: 80px;
}

.article-1-card {
  background: #8BCD8A;
  padding: 15px;
  margin: 10px;
}

.article-2-card {
  background: #8BCD8A;
  padding: 15px;
  margin: 10px;
}

.article-3-card {
  background: #8BCD8A;
  padding: 15px;
  margin: 10px;
}

.article-4-card {
  background: #8BCD8A;
  padding: 15px;
  margin: 10px;
}

/*Print Campaign*/
.print-camp {
  background: #C4C678;
  padding: 1em;
}

.print-camp-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.print-camp-imgs img {
  width: 25%;
  height: 20%;
  margin: 25px;
}

.print-camp h2 {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 2.2em;
}

 button { 
  border: none;
  background:#162145;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 1.2em;
  padding: 15px;
  display: block;
  margin: 0px auto;
}

.camp-btn {
  font-size: 2em;
}

a {
  text-decoration: none;
}

.print-camp button:hover {
  color: #E9EB8C;
}

/*Print Campaign Page*/

/*Posters*/
.print-camp-intro h2 {
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 2em;
  align-items: center;
}

.print-camp-intro p {
  margin-left: 280px;
  margin-right: 280px;
  font-size: 1.1em;
  line-height: 25px;
}

.print-camp-posters-img {
  display: flex;
  margin: 0 auto;
  max-width: 950px;
  justify-content: center;
}

.print-camp-posters-img img {
  width: 50%;
  height: 50%;
  margin: 15px;
}

/*Billboards*/
.print-camp-billboards-imgs {
  display: flex;
  margin: 0 auto;
  max-width: 850px;
  justify-content: center;
}

.print-camp-billboards-imgs img {
  width: 85%;
  height: 85%;
  margin: 15px;
}

.print-camp-billboards-imgs-1 {
  display: flex;
  margin: 0 auto;
  max-width: 850px;
  justify-content: center;
}

/*Social Posts*/
.print-camp-social-imgs {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
}

.print-camp-social-imgs-1 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
}

.print-camp-social img {
  width: 20%;
  height: 20%;
  margin: 10px;
}


/*Footer*/
.footer {
  background: #213167;
  background-size: cover;
}

.footer img {
  padding: 15px;
}

.footer h1 {
  font-family: Inter, sans-serif;
  font-size: 2em;
  color: white;
  padding: 10px;
}

.footer ul {
  font-family: Inter, sans-serif;
  color: white;
  font-size: 1.4em;
  padding-left: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer li {
  list-style: none;
  line-height: 1.4em;
}

.footer h4 {
  color: white;
  font-family: Lustria, serif;
  font-size: small;
  text-align: center;
  padding-bottom: 25px;
  margin: 0;
}

.social-media {
  padding-top: 20px;
  display: flex;
  justify-content: right;
}

/*Media Queries*/

/* media query for navigation*/


@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }
  
  .navigation {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2/3;
  }
  
  nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2,1fr)
  }
}

@media (max-width: 600px) {
  .container {
    display: block;
  }
}

/*Hero media query*/
@media screen and (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}

/*Mission statement Media Query*/
@media screen and (max-width: 600px) {
  .mission-statement p {
    display: block;
    margin: 0 auto;
    padding: 15px;
  }
}

/*Goals media query*/
@media screen and (max-width: 600px) {
.goals-group {
  display: block;
}

.goals p {
  padding: 15px;
}
}

/*Articles media query*/
@media screen and (max-width: 600px) {
  .articles-cards-group-1 {
    display: block;
  }

  .articles img {
    width: 100%;
    height: 100%;
  }
}

/*Print Campaign media query*/
@media screen and (max-width: 600px) {
  .print-camp-imgs {
    display: block;
    margin: 0 auto;
  }

  .print-camp-imgs img {
    width: 50%;
    height: 50%;
    margin: 15px;
  }

}

/*Footer media query*/
@media screen and (max-width: 600px) {
  .footer ul {
    display: none;
  }

  .footer h1 {
    display: none;
  }

  .social-media img {
width: 8%;
  }
}